---
title: Home
description: Climate Acuity
image: https://source.unsplash.com/j5LSbCqB1wA/2000x1322?a=.png
bottom_image: https://unsplash.it/2000/1322?a=.png
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">Climate acuity</h1>
			<p class="subtext editable">Climate Acuity delivers meaningful change for sustainability, net zero, and climate risk management. Our training and strategy workshops are rooted in deep expertise in sustainability and serious play. </p>
			<div onclick="window.location.href='mailto:climateacuity@sussex.ac.uk';" class="cta button alt"><a href="#">Book a call</a></div>
		</div>
	</div>
	<div class="learn-more"><a href="#learn-more">Learn more <span class="arrow">&#x25BC;</span></a></div>
</section>

<div class="content">
	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">The Cloud and the Climate</h2>
				<p class="editable">Check out our recently published report <a href="https://docs.google.com/document/d/1O5PmODLJHlX5h0CGOnI4CGNgfK4atJIvqtJUCFaJrfc/edit#heading=h.374vnenr4gyn">The Cloud and the Climate: Navigating AI-Powered Futures</a> .</p>
			</div>
			<div class="image">
				<img class="editable" src="https://i.ibb.co/ZzwqQG9/sky2.jpg" border="0" alt="Cloudy Sky and cables">
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">AI and the environment</h2>
				<p class="editable">We deliver CPD training for your staff or networks on AI and the environment. AI is creating exciting new opportunities in the sustainability space, just as it is elsewhere. But AI itself can have a significant carbon footprint, often invisible to the end-user. What does your organization need to know about AI and climate change? How can you show leadership within your organizational constraints? 
		</p>

			
<div class="button"> <a href="https://susdigihumlab.github.io/Carbon-Site-Builder---https-Sustainabledigitalfutures.co.uk/2024/07/29/AI-and-the-environment/">Find out more</a></div>
</div>
<div class="image">
				<img class="editable" style="padding-top:10%; padding-bottom: 10%;" src="https://i.ibb.co/vBjv8tB/Game-workshop-pic-1.jpg" alt="Game">
			
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Global Goals Experience</h2>
				<p class="editable">Learn about the UN Global Goals and how they relate to your organization. Explore the biggest challenges facing the world today, and the lessons learned from progress so far. In this interactive experience, you and your team-mates will simulate what the next decade may hold.</p>

<div class="button"><a href="https://susdigihumlab.github.io/Carbon-Site-Builder---https-Sustainabledigitalfutures.co.uk/2024/07/28/Global-goals/">Find out more</a></div>

			</div>
			<div class="image">
				<img class="editable"  style="padding-top:10%; padding-bottom: 10%;" 
src="https://i.ibb.co/sRqS4Z5/Growing.jpg" alt="Growing">
			</div>
		</div>
	</section>

	<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2 class="editable">Tailored outcomes</h2>
				<p class="subtext editable">What are your challenges? Maybe you're interested in improving the environmental impacts of your AI and IT operations. Maybe you want to refresh your internal comms to support behaviour change. Maybe you have training needs that are very specific to you. Or maybe you're just curious what an arts-led intervention could do for your sustainability. Get in touch!</p>
				<div class="cta button alt"><a href="mailto:climateacuity@sussex.ac.uk">Book a call</a></div>
			</div>
		</div>
	</section>
</div>





